@import 'bootstrap-icons/font/bootstrap-icons.css';

.card {
    display: flex;
    
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 2px 5px 10px rgb(97, 97, 97);
    border: 0;
    border-radius: 25px;
    flex-shrink: 1;
}

.form {
    display: flex;
    justify-content: flex-end;  
    flex-wrap: nowrap;   
}
.form-control{
    border-right: 0;
}
.input-group-text{
    
    background-color: white;
}
.bi {
    width: 20px;
    height: 20px;    
}
