@import 'bootstrap-icons/font/bootstrap-icons.css';

.card {
    display: flex;
    
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 2px 5px 10px rgb(97, 97, 97);
    border: 0;
    border-radius: 25px;
    flex-shrink: 1;
}

.form {
    display: flex;
    justify-content: flex-end;  
    flex-wrap: nowrap;   
}

.input-group {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: 0;
}
.form-control:focus {
    border:0;
    box-shadow: 0 0 0 0;

}

.input-group:focus{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #d2d2d2;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(59, 59, 59, 0.25);
}

.input-group-text{    
    background-color: white;
    border: 0;
}


.bi {
    width: 20px;
    height: 20px;    
}
