<div class="container container-fluid">
    <nav class="navbar">
        <div class="row w-100 brand">
            <h6>Frontender.itacademy</h6>
        </div>
        <div class="row w-100 title">
            <h2>Aconsegueix la millor qualitat</h2>
        </div>
    </nav>

    <div class="row justify-content-center">
        <div class="col-10" id="cards">

            <div class="row justify-content-center">
                <div class="card" [ngClass]="{'border-success': isCheckedSeo}">
                    <div class="row">
                        <div class="col col-6">
                            <h3>Seo</h3>
                            <p>Programació d'una web responsive completa</p>
                        </div>
                        <h2 class="col col-4"><b>300</b>€</h2>
                        <div class="col col-2 form-check">
                            <input class="form-check-input m-2" (change)="calculateTotal()" [(ngModel)]="isCheckedSeo"
                                type="checkbox" value="" id="checkboxSeo" />
                            <label class="form-check-label" for="checkboxSeo">
                                Afegir
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="card" [ngClass]="{'border-success': isCheckedAds}">
                    <div class="row">
                        <div class="col col-6">
                            <h3>Ads</h3>
                            <p>Programació d'una web responsive completa</p>
                        </div>
                        <h2 class="col col-4"><b>400</b>€</h2>
                        <div class="col col-2 form-check">
                            <input class="form-check-input m-2" (change)="calculateTotal()" [(ngModel)]="isCheckedAds"
                                type="checkbox" value="" id="checkboxAds" />
                            <label class="form-check-label" for="checkboxAds">
                                Afegir
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="card" [ngClass]="{'border-success': isCheckedWeb}">
                    <div class="row">
                        <div class="col col-6">
                            <h3>Web</h3>
                            <p>Programació d'una web responsive completa</p>
                        </div>
                        <h2 class="col col-4"><b>500</b>€</h2>
                        <div class="col col-2 form-check">
                            <input class="form-check-input m-2" (change)="calculateTotal()" [(ngModel)]="isCheckedWeb"
                                type="checkbox" value="" id="checkboxWeb" />
                            <label class="form-check-label" for="checkboxWeb">
                                Afegir
                            </label>
                        </div>
                    </div>

                    @if(isCheckedWeb === true) {
                    <div class="row">
                        <app-panel></app-panel>
                    </div>
                    }
                </div>
            </div>

            <div class="row">
                <h5 class="col-12 text-end">Preu pressupostat: {{total}}€</h5>
            </div>

            <div class="row justify-content-center">
                <div class="card" >
                    <div class="row card-title">
                        <h3>Demanar pressupost</h3>
                    </div>
                    <form class="form" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-3">
                                <div class="mt-3">
                                    <input id="name" class="form-control ml-3" type="text" placeholder="Nom"
                                        formControlName="name" />
                                    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="name?.hasError('required')">
                                            Aquest camp es obligatori.
                                        </div>
                                        <div *ngIf="name?.hasError('minlength')">
                                            El nom ha de tenir com a mínim dues lletres.
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mt-3">
                                        <input id="fPhone" class="form-control" type="number" placeholder="Telèfon"
                                            formControlName="phone" />
                                        <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="phone?.hasError('required')">
                                                Aquest camp es obligatori.
                                            </div>
                                            <div *ngIf="phone?.hasError('pattern')">
                                                El telèfon ha de tenir 9 dígits.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mt-3 ">
                                        <input id="fEmail" class="form-control ml-3" type="email" placeholder="Email"
                                            formControlName="email" />
                                        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="email?.hasError('required')">
                                                Aquest camp es obligatori.
                                            </div>
                                            <div *ngIf="email?.hasError('email')">
                                                Format d'email incorrecte.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 mt-3">
                                    <button type="submit" [disabled]="!clientForm.valid" 
                                        class="btn btn-success btn-sm ">Demanar pressupost -></button>
                                </div>
                            </div>
                            
                    </form>

                </div>
            </div>
            
            <div class="row">                
                <app-budgets-list></app-budgets-list>
            </div>
        </div>
    </div>