<div class="container container-fluid">
    <div class="row w-100 justify-content-center">
        <div class="col-10">

            <div class="card">
                <div class="row">
                    <div class="col col-6">
                        <h3>Seo</h3>
                        <p>Programació d'una web responsive completa</p>
                    </div>
                    <h2 class="col col-4"><b>300</b>€</h2>
                    <div class="col col-1 form-check">
                        <input class="form-check-input" (change)="calculateTotal()"  [(ngModel)]="isCheckedSeo" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Afegir
                        </label>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col col-6">
                        <h3>Ads</h3>
                        <p>Programació d'una web responsive completa</p>
                    </div>
                    <h2 class="col col-4"><b>400</b>€</h2>
                    <div class="col col-1 form-check">
                        <input class="form-check-input" (change)="calculateTotal()" [(ngModel)]="isCheckedAds" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Afegir
                        </label>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col col-6">
                        <h3>Web</h3>
                        <p>Programació d'una web responsive completa</p>
                    </div>
                    <h2 class="col col-4"><b>500</b>€</h2>
                    <div class="col col-1 form-check">
                        <input class="form-check-input"  (change)="calculateTotal()" [(ngModel)]="isCheckedWeb" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Afegir
                        </label>
                    </div>
                </div>
            </div>
            <div>
                <h5>Preu pressupostat:  {{total}}€</h5>
            </div>
        </div>
    </div>
</div>