.container{
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
 
    justify-content: center;
   
    padding: 1rem;

.brand {
    margin-left: 2rem;
    display: flex;
    justify-content: flex-start;

}
   
}
.logo {
    width: 40px;
    height: 30px;
    padding-right: 0;
}

.title {
    background: #C6FFDD;  
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
    width: 100%;    
    text-align: center;
    padding: 5rem;
    margin: 2rem;
    border-radius: 50px;  
}
h1{
    font-weight: bold;
}
h3 {
    font-weight: bold;
}

.card {
    
    display: flex;    
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 2px 5px 10px rgb(97, 97, 97);
    border: 0;
    border-radius: 25px;
    flex-shrink: 1;
    
}

.border-success {
        border: 2px solid hsl(143, 85%, 32%) !important;
    }

.col {
    align-content: center;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content:end;
    padding-right: 2rem;  
}

.alert {
    font-size: smaller;
    padding: 5px;
}