@import 'bootstrap-icons/font/bootstrap-icons.css';

.container {
    display: flex;
    justify-content: flex-end;

}

.row {
    align-items: center;
}

.form-label {
    width: fit-content;

}

.form-control {
    justify-items: center;
    width: 2rem;
    height: fit-content;
    padding: 0;
    margin: 1rem;
    text-justify: center;
    text-align: center;
}

.rounded-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--bs-border-width) solid var(--bs-border-color);
    background-color: transparent;
    text-align: center;
    width: 15px;
    height: 15px;
    font-size: 12px;
    padding: 0;
    cursor: pointer;
}




input[type="number"] {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.btn,
.btn:focus,
.btn:active {
    background-color: transparent;
    width: 15px;
    border: 0;
}

.modal-body {
    text-align: center;
    margin: 1rem;

}