.container {
    display: flex;
    justify-content: flex-end;
}

.btn-count {
    display: flex;
    color: grey;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    line-height: 8px;
    width: 12px;
    height: 13px;
}