<div class="container container-fluid">
    <form [formGroup]="budgetWebForm">
        <div>
          <label for="numPages">Número de Páginas</label>
          <button type="button" (click)="decrement('numPages')">-</button>
          <input id="numPages" formControlName="numPages" type="number">
          <button type="button" (click)="increment('numPages')">+</button>
        </div>
      
        <div>
          <label for="numLang">Número de Idiomas</label>
          <button type="button" (click)="decrement('numLanguages')">-</button>
          <input id="numLanguages" formControlName="numLanguages" type="number">
          <button type="button" (click)="increment('numLanguages')">+</button>
        </div>
      </form>
      <p>{{numLanguages}} i {{numPages}}</p>

</div>